// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
// font-family: 'Outfit', sans-serif;

:root {
    // Primary
    --cc-soft-blue-: hsl(215, 51%, 70%);
    --cc-cyan-blue:  hsl(178, 100%, 50%);
    
    // Neutral
    --cc-vdb-main-bg-: hsl(217, 54%, 11%);
    --cc-vdb-card-bg-: hsl(216, 50%, 16%);
    --cc-vdb-line-bg-: hsl(215, 32%, 27%);
    
    // Fonts paragraph font-size: 18px; 
    --ff-outfit: 'Outfit', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--ff-outfit);
}

body {
    background-color: var(--cc-vdb-main-bg-);
}

