@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --cc-soft-blue-: hsl(215, 51%, 70%);
  --cc-cyan-blue:  hsl(178, 100%, 50%);
  --cc-vdb-main-bg-: hsl(217, 54%, 11%);
  --cc-vdb-card-bg-: hsl(216, 50%, 16%);
  --cc-vdb-line-bg-: hsl(215, 32%, 27%);
  --ff-outfit: 'Outfit', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--ff-outfit);
}

@media (min-width: 320px) {
  body {
    padding: 1em;
  }
}

body {
  background-color: var(--cc-vdb-main-bg-);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--cc-vdb-card-bg-);
  max-width: 20.5rem;
  border-radius: 15px;
}

.card__hero {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  margin: 1.5em;
}

.card__hero--image {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__image--overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../images/icon-view.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.card__image--overlay:hover {
  opacity: 0.6;
  background-color: var(--cc-cyan-blue);
}

.header {
  margin: 0em 1.5em 0em 1.5em;
  font-size: 0.75rem;
}

.header--title {
  color: white;
}

.header--title:hover {
  color: var(--cc-cyan-blue);
  cursor: pointer;
}

.header--paragraph {
  font-size: 18px;
  color: var(--cc-soft-blue-);
  margin: 1em 0em;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.main__etherum {
  color: var(--cc-cyan-blue);
}

.main__etherum--icon {
  margin-left: 1.5em;
  margin-right: 0.5em;
}

.main__clock {
  color: var(--cc-soft-blue-);
  margin-right: 1.5em;
}

.main__clock--icon {
  margin-left: 5.5em;
  margin-right: 0.5em;
}

.line {
  border: 1px solid var(--cc-vdb-line-bg-);
  margin: 1em 1.5em 1em 1.5em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-bottom: 1.5em;
}

.footer__user-image {
  aspect-ratio: 1;
  height: 40px;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 1.5em;
  margin-right: 1em;
}

.footer__paragraph {
  color: var(--cc-soft-blue-);
}

.footer__span {
  color: white;
}

.footer__span:hover {
  color: var(--cc-cyan-blue);
  cursor: pointer;
}
/*# sourceMappingURL=script.css.map */