@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
  --cc-soft-blue-: hsl(215, 51%, 70%);
  --cc-cyan-blue:  hsl(178, 100%, 50%);
  --cc-vdb-main-bg-: hsl(217, 54%, 11%);
  --cc-vdb-card-bg-: hsl(216, 50%, 16%);
  --cc-vdb-line-bg-: hsl(215, 32%, 27%);
  --ff-outfit: 'Outfit', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--ff-outfit);
}

body {
  background-color: var(--cc-vdb-main-bg-);
}

.container {
  margin: 6em 2em 0em 2em;
  background-color: var(--cc-vdb-card-bg-);
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 311px;
      grid-template-columns: 311px;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "container-image" "main__body";
}

.container-image {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container-image;
  content: url("/images/image-equilibrium.jpg");
  max-width: 90%;
  height: auto;
  margin: 2em 2em 2em 2em;
  border-radius: 15px;
  cursor: pointer;
}

.container-image:hover {
  cursor: pointer;
}

.hover-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container-image;
  content: url("../images/icon-view.svg");
  cursor: pointer;
  background: var(--cc-cyan-blue);
  padding: 7.1em;
  border-radius: 15px;
  opacity: 0;
}

.hover-image:hover {
  opacity: 0.3;
}

.main__body {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main__body;
}

.header--h1 {
  color: white;
  font-size: 1.5rem;
  margin-left: 0.7em;
  margin-bottom: 1em;
}

.header--h1:hover {
  color: var(--cc-cyan-blue);
  cursor: pointer;
}

.header--p {
  color: var(--cc-soft-blue-);
  font-size: 1rem;
  margin-left: 1em;
  margin-bottom: 1em;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 1em;
  margin-right: 1em;
}

.info__p-etherum {
  color: var(--cc-cyan-blue);
  justify-self: flex-start;
  padding-left: 0.5em;
}

.info__p-days-left {
  padding-left: 0.5em;
  justify-self: flex-end;
  color: var(--cc-soft-blue-);
}

.info__img-clock {
  padding-left: 5.5em;
}

.border-line {
  border: 1px solid var(--cc-vdb-line-bg-);
  margin: 1em 1em 0em 1em;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__user-img {
  content: url("../images/image-avatar.png");
  border: 1px solid white;
  border-radius: 50px;
  aspect-ratio: 1;
  max-width: 3rem;
  justify-self: flex-start;
  margin: 1em 1em 1em 1em;
}

.footer__p {
  color: white;
}

.footer__p:hover {
  color: var(--cc-cyan-blue);
  cursor: pointer;
}

.footer__span {
  color: var(--cc-soft-blue-);
}
/*# sourceMappingURL=script.css.map */